
    
<div class="box-effect mt-5">
    <div class="effect fire">START THE BATTLE</div>
</div>


<div class="row g-3 align-items-center m-1">
    <div class="col-auto">
        <input class="form-control form-control-sm col-6 m-1" [(ngModel)]="nome" list="datalistOptions"
            id="exampleDataList" placeholder="Jogador">
        <datalist id="datalistOptions">
            <option value="Bueno">
            <option value="Kev">
            <option value="Gabriel">
            <option value="Dogui">
            <option value="Monsto1">
        </datalist>
    </div>

    <div class="col-auto">
        <input class="form-control form-control-sm col-6 m-1" [(ngModel)]="iniciativa" type="number"
            placeholder="Iniciativa">
    </div>
    <div>
        <button class="btn btn-dark btn-sm" (click)="adicionar()">Adicionar</button>
    </div>

</div>
<div style="margin-top: 36px;">
<table class="table m-2">
    <thead class="justify-content-center">
        <tr>
            <th scope="col">Iniciativa</th>
            <th scope="col">Vida</th>
            <th scope="col">Nome</th>
            <th scope="col">Ações</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jogador of listaIniciativa">
            <td>{{jogador.iniciativa}}</td>
<td><input style="width: 5rem;" type="number" [(ngModel)]="jogador.vida" (ngModelChange)="salvarVida()"/></td>
            <td>{{jogador.nome}}</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="remover(jogador)">Remover</button>

        </tr>

    </tbody>
</table>
</div>