

<div class="row">
    <h3 class="mx-4 my-1">Iniciativas</h3>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mx-4 my-1">
            <div class="card-body">
                <h5 class="card-title">Iniciativa</h5>
                <p class="card-text">Sorteie a iniciativa dos jogadores.</p>
                <a href="/iniciativa" class="btn btn-dark">Sortear</a>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <h3 class="mx-4 my-1"> Sorteios</h3>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mx-4 my-1">
            <div class="card-body">
                <h5 class="card-title">Itens</h5>
                <p class="card-text">Sorteie itens para seus jogadores.</p>
                <a href="/itens" class="btn btn-danger">Sortear</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mx-4 my-1">
            <div class="card-body">
                <h5 class="card-title">Monstros</h5>
                <p class="card-text">Sorteie monstros para seus jogadores.</p>
                <a href="/monstros" class="btn btn-danger">Sortear</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mx-4 my-1">
            <div class="card-body">
                <h5 class="card-title   ">NPCs</h5>
                <p class="card-text">Sorteie NPCs para seus jogadores.</p>
                <a href="/npcs" class="btn btn-danger">Sortear</a>
            </div>
        </div>
    </div>
</div>
