<div style="margin: 36px;">
    

<div class="row " style="margin-top: 60px;">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card my-1">
            <div class="card-body d-flex justify-content-around" >
                <a href="/iniciativa" class="btn btn-dark">Iniciativa</a>
                <a href="/mercado" class="btn btn-dark">Mercado</a>
            </div>
        </div>
    </div>

  
</div>

<div class="row mt-2">
    <h3 class=" my-1" style="color: rgb(240, 240, 240);"> Sorteios</h3>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card  my-1">
            <div class="card-body">
                <h5 class="card-title">Itens</h5>
                <p class="card-text">Sorteie itens para seus jogadores.</p>
                <a href="/itens" class="btn btn-danger">Sortear</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card  my-1">
            <div class="card-body">
                <h5 class="card-title">Monstros</h5>
                <p class="card-text">Ver Livro de Monstros</p>
                <a href="/monstros" class="btn btn-danger">Ver</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card  my-1">
            <div class="card-body">
                <h5 class="card-title   ">Ficha Jogador</h5>
                <p class="card-text">Baixe o Json e faça sua ficha.</p>
                <a href="/ficha-jogador" class="btn btn-danger">Ficha</a>
            </div>
        </div>
    </div>
</div>

</div>